$color-primary: #e21818;
$color-secondary: #4587ef;
$color-secondary-dark: #252641;
$color-primary-light: #000;
$color-gray: #464646;
$color-gray-light: #313131;
$color-gray-dark: #2c2c2c;
$color-black: #000;
$color-white: #fff;
