.courses-box {
  position: relative;
  border-radius: 5px;
  background-color: $color-white;
  box-shadow: 0px 2px 7px rgba($color-secondary, 0.12);
  display: flex;
  align-items: center;
  height: 100%;
  padding: 12px;
  .states {
    position: absolute;
    padding: 4px 10px;
    border-radius: 50px;
    color: $color-white;
    font-size: 10px;
    background-color: red;
    top: 12px;
    @include dir(rtl) {
      left: 12px;
    }
    @include dir(ltr) {
      right: 12px;
    }
  }
  .icon-box {
    width: 84px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    z-index: 1;
    overflow: hidden;
    place-content: center;
    @include after("") {
      inset: 0;
      z-index: -1;
      background-color: rgba($color-black, 0.5);
    }
  }
  .content-box {
    width: 100%;
    padding: 0 12px;
    .course-title {
      font-weight: 600;
      font-size: 20px;
      color: $color-gray-dark;
      margin-bottom: 8px;
    }
    .instructor-name {
      font-weight: 500;
      font-size: 14px;
      color: rgba($color-gray-light, 0.65);
      margin-bottom: 8px;
    }
  }
  .level-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .level-box {
      font-weight: 600;
      font-size: 13px;
      color: rgba($color-gray-light, 0.4);
    }
  }
}
